<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
  <title>SoundCloud, Too!</title>
</head>

<body>
  <nav>
    <div class="nav__item_container">
      <img src="" alt="sound cloud too logo">
      <div class="nav__signin_container">
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
      </div>
    </div>
  </nav>
  <div class="main_container">
    <form action="/" method="post">
      <input type="url" placeholder="Paste video link" required />
      <div class="main_container__options_container">
        <div class="main_container__options_container__option_element">
          <input type="radio" name="video_timestamp" id="#radio_timestamp" checked />
          <label for="#radio_timestamp">Only the timestamps...</label>
        </div>
        <div class="main_container__options_container__option_element">
          <input type="radio" name="video_timestamp" id="#radio_video" />
          <label for="#radio_video">Just the video</label>
        </div>
        <div class="main_container__options_container__option_element">
          <input type="radio" name="video_timestamp" id="#radio_all" />
          <label for="#radio_all">Give it all to me</label>
        </div>
      </div>
      <button>Submit</button>
    </form>
  </div>
</body>

</html>