body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    display: flex;
    flex-direction: column;
    font-family: monospace, sans-serif;
    background-color: #ecdada;
    margin: 0;
    gap: 10px;
    width: 400px;
    align-items: center;
    padding: 10px 0; 
    /* the above line puts padding for only the top & bottom */
}

.login {
    display: flex;
    flex-direction: column;
    font-family: monospace, sans-serif;
    background-color: #22daaf;
    margin: 0;
    gap: 10px;
    width: 400px;
    align-items: center;
    padding: 10px 0; 
}

.inputField {
    display: flex;
    flex-direction: column;
    align-items: center;
}