@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --mint: hsla(177, 100%, 39%, 0.7);
  --white: hsla(0, 100%, 100%, 1);

  --gray0: hsla(0, 0%, 70%, 0.9);
  --gray1: hsla(0, 0%, 50%, 0.9);
  --gray2: hsla(0, 0%, 20%, 0.9);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

nav {
  background-color: var(--gray0);
}

a {
  text-decoration: none;
}

.nav__item_container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: auto;
}

.nav__signin_container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav__signin_container a:first-child {
  color: var(--gray2);
}

.nav__signin_container > a > button {
  background-color: white;
  color: var(--gray1);
  font-size: 1.2rem;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
}

.nav__signin_container > a > button:hover {
  cursor: pointer;
}

.main_container {
  /* max-width: 600px; */
  background-color: var(--mint);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.2);
  margin: auto;
}

input::placeholder {
  color: var(--gray1);
}

input:not(:placeholder-shown) {
  color: black;
}

.main_container > form > input[type="url"] {
  font-family: monospace;
  font-size: 1.2rem;
  width: 50ch;
  padding: 0.5em;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
}

.main_container__options_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--gray2);
  font-size: 1.1em;
  padding-left: 20px;
  margin-bottom: 30px;
}

.main_container__options_container__option_element {
}

.main_container > form > button {
  background-color: white;
  color: var(--gray1);
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}
